li {
  color: blue;
}

div.summary {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

div.monthSummary {
  overflow: scroll;
  width: 200px;
  height: 400px;
}
