<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <!-- etc... -->
  </head>
  <body>
    <div class='firstSection'>
      <ul>
        <% @expense_summary.each do |expense_month| %>
          <li>
          <%= expense_month.keys[0] %>
            <ul>
              <% expense_month.values[0].each do |expense| %>
                <li>
                  Desc: <%= expense.keys[0] %> </br>
                  Amount: <%= expense.values[0] %>
                </li>
                </br>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <script src="./main.js"></script>
  </body>
</html>